body {
  background-color: rgb(183, 183, 183);
}
.linkedin {
  display: inline-block;
  white-space: nowrap;
  color: rgb(4, 41, 1); 
  border-color: rgb(4, 41, 1); 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 1s, color 1s; 
  font-size: 30px;  
  margin-right: 20px; 
  text-decoration: none;
  font-family: Rajdhani;        
  width:120px;
  text-align: center;
}

.linkedin:hover {
  background-color: rgb(4, 41, 1); 
  color: white; 
}
.Resume {
  display: inline-block; 
  color: rgb(4, 41, 1); 
  padding: 10px 20px; 
  cursor: pointer; 
  font-size: 30px;  
  text-decoration: none;
  font-family: rajdhani;
  margin-top: 10px;
  margin-right: 20px;
  width:15s0px;
  text-align:center;
  transition: background-color 1s, color 1s; 
  border-radius: 5px;
}
.Resume:hover {
  background-color: rgb(4, 41, 1); 
  color: white; 
}
.Portfolio {
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  color: rgb(4, 41, 1); 
  border-color: rgb(4, 41, 1); 
  padding: 10px 10px; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 30px;  
  text-decoration: none;
  font-family: Rajdhani;
  margin-top: 10px;
  width:150px;
  transition: background-color 1s, color 1s; 
}
.Portfolio:hover {
  background-color:rgb(4, 41, 1);
  color: white; 
}
.email {
  text-decoration: underline; 
  cursor: pointer; 
  display: inline-block; 
}
.contact-info {
  text-align: center;
  display: inline-block; 
  margin-top:0px;
}
.linkedin-link {
  display: inline-block; 
}
.contact {
  text-align: center;
  font-family: Rajdhani;
  font-size: 15px;
  color:rgb(4, 41, 1); 
}
.links {
  line-height: 50px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  margin-left: 200px;

}

.name {
  display: inline-block;
  font-family: Garamond;
  font-size: 75px;
  margin-left: 75px;
  font-weight: bold;
  color:rgb(4, 41, 1);
  margin-right: 150px; 
}

.line {
  margin-left: 30px;
  font-size: 40px;
  font-weight: bold;
  color:rgb(4, 41, 1);
}

.image {
  display: inline-block;
}
.picture {
  width: 500px;
  height: 480px;
  object-position: left;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 100px;
  border-color:rgb(4, 41, 1);
  border-style: solid; 
  display: inline-block;
  box-shadow: 0 0 20px;

}
.aboutme {
  display: inline-block;
  vertical-align: top; 
  margin-top: 40px;
  margin-left: 150px;
  text-align: center;
  vertical-align:top;
  font-family:garamond;
  width: 500px;
  color:rgb(4, 41, 1);
}
.aboutmeheader {
  font-size: 41px;
  font-weight: bold; 
}
.aboutmebody {
  font-size: 30px;
  font-family: garamond;
}
.linkto {
  font-family: rajdhani;
  text-align: center;
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 70px;
  color:rgb(4, 41, 1);
  text-decoration:none;
}

.myskills {
  display: inline-block;
  margin-right: 100px;
  color:rgb(4, 41, 1);
  transition: opacity 0.5s;
  text-decoration:none;
}
.myskills:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.5;
}

.projects {
  display: inline-block;
  color:rgb(4, 41, 1);
  transition: opacity 0.5s;
  text-decoration:none;
}
.projects:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.5
}

.photoalbum {
  display: inline-block;
  margin-right: 100px;
  color:rgb(4, 41, 1);
  transition: opacity 0.5s;
  text-decoration:none;
}
.photoalbum:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.5;
}