* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: Questrial;
  background-image: none;
}
.slide{
  height: 100%;
  width: 180px; 
  position: absolute; 
  background-color: #8a837b; 
  transition: 0.5s ease; 
  transform: translateX(-180px);
}
h1{
  color: white; 
  font-weight: 800; 
  text-align: right; 
  padding: 10px 0; 
  padding-right: 30px;
  margin-top: 6px;  
  pointer-events: none; 
  
}
ul li{
  list-style: none; 
}

ul li a{
  color: white; 
  font-weight: 500; 
  padding: 20px 15px; 
  display: block; 
  text-transform: capitalize; 
  text-decoration: none; 
  transition: 0.2s ease;
  background-color: #cfc2b1; 
  font-family: Questrial;
  font-size: 20px;
}

input{
  display: none; 
  visibility: hidden; 
  appearance: none;
  -webkit-appearance: none; 
}

.toggle{
  position: absolute;
  height: 30px; 
  width: 30px; 
  z-index: 1; 
  top: 20px; 
  left: 15px; 
  cursor: pointer; 
  border-radius: 2px; 
  background-color: #8a837b;  
}

.toggle .common{
  position: absolute; 
  height:  2px;
  width: 20px; 
  background-color:white; 
  border-radius: 50px; 
  transition: 0.3s ease; 
}

.toggle .top_line{
  top: 30%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle .middle_line{
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle .bottom_line{
  top: 70%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top_line{
  left: 2px; 
  top: 14px;
  width: 25px; 
  transform: rotate(-45deg);
}

input:checked ~ .toggle .bottom_line{
  left: 2px; 
  top: 14px;
  width: 25px; 
  transform: rotate(45deg);
}

input:checked ~ .toggle .middle_line{
  opacity: 0; 
  transform: translateX(20px);
}

input:checked ~ .slide{
  transform: translateX(0);
  box-shadow: 0 0 15px black(0, 0, 0, 0.5);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}
.header {
  margin:auto;
  width: 650px;
  
}

.text {
  margin-top: 10px;
  margin-bottom: 50px;
  color:#cfc2b1;
  font-size: 6em;
  letter-spacing: 10px;
  font-family: Questrial;
  border-right: 5px solid;
  align-items: center;
  width: 100%;
  white-space: nowrap; 
  overflow: hidden;
  animation:
    typing  5s steps(10),
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  50% { border-color: transparent }
}

@keyframes typing {
  from { width: 0; }
}

.section_1{
  background-color:#8a837b;
  padding-top: 50px;
  padding-bottom: 75px;
  text-align: center;
  background-image: linear-gradient(white, #8a837b 0%, #96b1b8 100%);
}

p1{
text-align: center;
color: white;
font-family: Questrial;
font-size: 20px;
}

.lower{
background-color: #96b1b8;
}

.sippingcoffee{
  width:650px;
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  display:inline-block;
}

.bio{
  display: inline-block;
  text-align: center;
  vertical-align: top; 
  padding-top: 100px;
  padding-left: 50px;
  width: 700px;

}

.biotxt{
  width: 700px;
  text-align: center;
  vertical-align: top;
  padding-left: 50px;
  color: white;
  font-size: 30px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.socials{
  vertical-align: center;
}

.messagemebutton {
  text-align: center;
  vertical-align: top;
  text-decoration: none; 
  margin-top: 5px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  
}

.messageme { 
  text-decoration: none; 
  color: #96b1b8;
  border-color: #8a837b;
  font-size: 20px;
  font-family: Questrial;
  font-weight:bold;
}

.linkedinbutton:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.fa:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.messagemebutton:hover {
  opacity: 0.7;
  transition: opacity .5s;
}

.cad {
  background-image: linear-gradient(to top, white, rgba(255,0,0,0), #96b1b8), url(truck.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
  opacity: 0.7;
  background-position: right;
}

.header2 {
  vertical-align: middle;
  font-size: 75px;
  color: #2b3b48;
  font-family: Questrial;
  margin-left: 50px;
  width: 900px;
  padding-top: 100px;
  line-height: 75px;
}

.subbox2 {
  margin-left: 50px;
  font-size: 25px;
  padding-top: 50px;
  width: 500px;
  line-height: 30px;
  color: #2b3b48
}

.CSWA {
  border: solid 2px #2b3b48;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 500px;
  font-size: 20px;
  background-color: transparent;
  align-content: center;
}

.CSWA_PDF {
  text-decoration: none; 
  color: #2b3b48;
}

.block3 {
  background-image: linear-gradient(to bottom, white 0%, rgba(255,0,0,0), black), url(cells.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;
  opacity: 0.7;
  background-position: center;
  width: 100%;
  vertical-align: middle;
}

.cells {
  margin-left: 150px;
  margin-top: 100px;
  width: 300px;
  float: left;
}

.figcaption {
  margin-left: 150px;
  width: 300px;
  float: left;
  color: white;
  margin-top: 5px;
  font-style: oblique;
}

.figure {
  width: 600px;
}

.subblock3 {
 text-align: right;
 margin-right: 50px;
 padding-top: 50px;
 font-family: Questrial;
}

.header3 {
  font-size: 75px;
  color: black;
  line-height: 75px;
  justify-content: right;
  text-align: right;
}

.subheader3 { 
  font-size: 25px;
  padding-top: 50px;
  width: 575px;
  line-height: 30px;
  color: white;
  margin-left: auto;
}

.research { 
  border: solid 2px white;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 500px;
  font-size: 20px;
  background-color: transparent;
  align-content: center;
}

.research_PDF {
  text-decoration: none; 
  color: white;
}

.close {
  color: gray;
  background-color: white;
  text-align: center;
  padding: 20px;
  line-height: 25px;
}

.jm {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
}